<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/contactus.css">
</head>

<body>
    <!-- main content  -->
    <main>
        <div class="main-form-container">
            <div class="form-heading">
                <h1>Form successfuly filled ✅</h1>
                <p>You have filled the form we will reach out to you soon!</p>
            </div>
            <a href="/">
                <button>Back</button>
            </a>
        </div>

    </main>
</body>

</html>