body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

main {
  padding: 1rem;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: rgb(247, 192, 91);
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header__nav h2 {
  color: red;
}
.main-header-item_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header-item {
  margin: 0 1rem;
  padding: 0;
  font-weight: bold;
}

.main-header-item a {
  text-decoration: none;
  color: white;
}

.main-header-item a:hover,
.main-header-item a:active,
.main-header-item a.active {
  color: rgb(98, 98, 222);
}

.form-control label,
.form-control input {
  display: block;
  width: 95%;
  align-items: center;
  margin: 1rem;
}

.main-form-container {
  width: 45rem;
  max-height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}
.form-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.line {
  width: 100%;
  height: 2px;
}
.form-heading h2 {
  color: rgb(218, 36, 36);
  font-weight: bold;
}
.wrong {
  color: red !important;
}
.form-heading h1 {
  color: green;
  font-weight: bold;
}
.form-heading p {
  font-size: 15px;
}
.procuct-form {
  width: 42rem;
  max-height: 100%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control input {
  font: inherit;
  border-radius: 7px;
  padding: 0.5rem;
  border-color: rgb(0, 255, 200);
}

.form-control-inner {
  display: flex;
}
button {
  font: inherit;
  border: 1px solid #ce7e7e;
  background: rgb(216, 128, 128);
  color: yellow;
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

button:hover,
button:active {
  background-color: purple;
  color: white;
}
